.modal-overlay {
  position: fixed;
  top: 100px; 
  right: 20px; 
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-start; 
  justify-content: flex-end;
  z-index: 1000;
  transition: top 0.3s ease;
}

.modal-content {
  background-color: #fff;
  padding: 10px; 
  border-radius: 10px;
  width: 80%; 
  max-width: 300px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
  position: relative;
  transition: transform 0.3s ease; 
}


@media (max-width: 768px) {
  .modal-overlay {
    top: 80px; 
  }
}

@media (max-width: 576px) {
  .modal-overlay {
    top: 60px; 
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.userheader,
.form-look-container,
.signoutbtn {
  margin-top: 20px;
}

.signoutbtn {
  margin-top: -20px; 
  margin-bottom: 10px;;
}

.signout-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.signoutbtn button {
  background-color: #AD4D4D;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  display: block;
}

.signoutbtn button:hover {
  background-color: #c86b6b;
}

.form-look-container {
  width: 250px; 
  margin: 0 auto;
  padding: 20px; 
  border-radius: 20px;
  background-color: #F4ECE5;
  margin-top: 40px;
  margin-bottom: 40px;
}

.input-group {
    position: relative; 
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .input-group input {
    flex: 1; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 14px;
  }
  
  .user-info-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  

.text {
  font-size: 16px;
  color: #333;
}

.edit-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.edit-button:hover .user-info-icon {
  filter: brightness(150%);
}

.orderbtn {
  background-color: #FF6E00;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.orderbtn-container {
  text-align: right;
}

.arrow-down {
  position: absolute;
  top: -10px; 
  right: 20px; 
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
